<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование тренировки</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
>
<div class="container mt-5 mb-5">
    <h1>Edit training</h1>
    <div th:each="el : ${post}">
        <form method="post" enctype="multipart/form-data">
            <input type="text" th:value="${el.titleWorkout}" name="titleWorkout"
                   placeholder="Enter name of workout" class="form-control"><br>
            <input type="date" th:value="${el.workoutDay}" name="workoutDay" placeholder="Enter date of training"
                   class="form-control"><br>
            <textarea name="descriptionWorkout" placeholder="Enter description of workout" class="form-control"
                      th:text="${el.descriptionWorkout}"/><br>
            <input type="text" th:value="${el.durationOfTraining}" name="durationOfTraining"
                   placeholder="Enter time of training" class="form-control"><br>
            <div class="custom-file">
                <input type="file" th:value="${el.fileName}" name="file" id="customFile" >
                <label class="custom-file-label" for="customFile">Choose file</label><br>
            </div>
            <button type="submit" class="btn btn-success">Update</button><br><br>

            <a th:href="'/blog/' + ${el.id} " class="btn btn-link">Back to post</a><br><br>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>