<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Details</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<!--    <link rel="stylesheet" href="/static/style.css">-->
<!--</head>-->
<!--<body>-->
<header th:insert="blocks/header :: header('Details')"></header>

<div class="container mt-5">
    <div th:each="el :  ${post}" class="alert alert-info mt-2">
        <h1 th:text="${el.titleWorkout}"/>
        <p th:text="${el.descriptionWorkout}"/>
        <p><b>Duration of training:</b> <span th:text="${el.durationOfTraining}"/></p>
        <p><b>Photo from training:</b></p>
        <div th:if="${el.fileName}">
            <p><img th:src="@{'/img/' + ${el.fileName}}" class="img-thumbnail"/></p>
        </div>
        <div th:unless="${el.fileName}">
            <p>There is no photo</p>
        </div>

        <a th:href=" '/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
        <form th:action=" '/blog/' + ${el.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Delete</button><br><br>
        </form>
        <a th:href="'/blog/'" class="btn btn-warning">Back to blog</a><br><br>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
