<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование тренировки</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<header th:insert="blocks/header :: header"></header>>
<div class="container mt-5 mb-5">
    <h1>Редактирование тренировки</h1>
    <div th:each="el : ${post}">
        <form method="post">
            <input type = "text" th:value="${el.title_workout}" name="title_workout" placeholder="Введите название тренировки" class="form-control"><br>
            <input type = "text" th:value="${el.workout_day}" name="workout_day" placeholder="Введите дату тренировки" class="form-control"><br>
            <textarea name="description_workout"  placeholder="Введите описание тренировки" class="form-control" th:text="${el.description_workout}" /><br>
            <input type = "text" th:value="${el.duration_of_training}" name="duration_of_training" placeholder="Введите длительность тренировки" class="form-control"><br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>