<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>All training</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<!--</head>-->
<!--<body>-->
<header th:insert="blocks/header :: header('All training')"></header>
<br>
<br>
<br>
<div class="form-row">
    <div class="form-group col-md-6">
        <form method="get" action="/blogFilter" class="form-inline">
            <input type="text" name="filter" th:value="${filter != null}?${filter}" placeholder="Search by posts">
            <button type="submit" class="btn btn-primary ml-2">Find</button>
        </form>
    </div>
</div>
<br>
<br>
<form class="form-inline my-2 my-lg-0">
    <a href="/blog/add" class="btn btn-outline-dark" type="submit">Add workout</a>
</form>

<div class="container mt-5">
    <h1>Trainings</h1>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.titleWorkout}"/>
        <p th:text="${el.workoutDay}"/>
        <p th:text="${durationOfTraining}"/>
        <a th:href=" '/blog/' + ${el.id}" class="btn btn-warning">Details</a>
    </div>
</div>




<div th:insert="blocks/footer :: footer"></div>
