<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>title</title>
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form action="/login" method="post" form-horizontal>
            <span class="heading">АВТОРИЗАЦИЯ</span>
                <div class="form-group">
                    <div><label> User Name : <input type="text" class="form-control" name="username"/> </label></div>
                    <div><label> Password: <input type="password" class="form-control" name="password"/> </label></div>
                    <div><input type="submit" value="Войти"/></div>
                    <a href="/registration">Добавить нового пользователя</a>
                </div>
        </form>
    </div>
</div>
</body>
</html>