<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        /* Background */
        body{
        background: url('https://static2.issaplus.com/wa-data/public/photos/56/42/4256/4256.970.jpg') no-repeat;
        background-size: cover;
        }
    </style>

    <!--    Google reCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>

<div class="container">
    <div class="row justify-content-center align-items-center">

        <form action="/registration" method="post" form-horizontal>
            <br>
            <span class="heading">REGISTRATION</span>
            <br>
            <div class="form-group">
                <div>
                    <label> Name user : <input type="text" name="username" class="form-control" /> </label>
                    <div th:if="${usernameError} != null">
                        <div class="alert alert-danger" role="alert">
                            <p th:text="${usernameError}"/>
                        </div>
                    </div>
                </div>
                <div>
                    <label> Password: <input type="password" class="form-control" name="password"/></label>
                    <div th:if="${passwordError} != null">
                        <div class="alert alert-danger" role="alert">
                            <p th:text="${passwordError}"/>
                        </div>
                    </div>
                </div>
                <div>
                    <label> Confirm password: <input type="password" class="form-control" name="password2"/></label>
                    <div th:if="${password2Error} != null">
                        <div class="alert alert-danger" role="alert">
                            <p th:text="${password2Error}"/>
                        </div>
                    </div>
                </div>
                <div>
                    <label> Email: <input type="email" class="form-control" name="email"/></label>
                    <div th:if="${emailError} != null">
                        <div class="alert alert-danger" role="alert">
                            <p th:text="${emailError}"/>
                        </div>
                    </div>
                </div>

                <br>
                <div>
                <div class="g-recaptcha" data-sitekey="6LcaMu4iAAAAAGbAaWlgP1nlS0JUP9G1gRN7NL8Q"></div>
                    <div th:if="${captchaError != null}">
                        <div class="alert alert-danger" role="alert">
                            <p th:text="${captchaError}"/>
                        </div>
                    </div>
                </div>
                <br>
                <div><input type="submit" value="Register"/></div><br>

                <a th:href="'/login'" class="btn btn-link">Back to login page</a><br>
                <a th:href="'/'" class="btn btn-link">Back to main page</a>
                <br>
            </div>
            <br>

        </form>

    </div>

</div>

<div th:insert="blocks/footer :: footer"></div>