<div th:fragment="header">
<!--    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">-->
<!--        <a href="#" class="d-flex align-items-center text-dark text-decoration-none">-->
<!--            <span class="fs-4">Project for the end of the course "Java Core" by IT-Academy</span>-->
<!--        </a>-->

<!--        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main</a>-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Blog</a>-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Add an article to a blog</a>-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">From Us</a>-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->

<!-- As a heading -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Project</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Тренировки</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/blog/add">Add an article to a blog</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/about">О нас</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>

</div>